
6esq/6esq_imp/modeling/output/rmfs/0.rmf3
6esq/6esq_imp/modeling/output/stat.0.out
6esq/6esq_imp/results/output_all_d12/rmfs/0.rmf3
6esq/6esq_imp/results/output_all_d12/stat.0.out
6esq/6esq_imp/modeling/output/rmfs/0.rmf3
6esq/6esq_imp/modeling/output/stat.0.out
